body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li {
  margin: 5px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
